.menu-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item-col {
  flex-basis: 48%;
  min-width: 250px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.item-col img {
  margin-right: 25px;
  width: 100px;
  height: 100px;
  border: 1px solid goldenrod;
  border-radius: 50%;
}
.desc div {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed goldenrod;
  justify-content: space-between;
}
.desc div {
  font-size: 20px;
  text-transform: capitalize;
}
.desc h4 {
  font-size: 22px;
}
.price {
  font-size: 22px;
  font-weight: bold;
  color: var(--primary);
}
.menu-desc {
  font-size: 19px;
  color: var(--gray);
}
@media (max-width: 990px) {
  .item-col {
    flex-basis: 100%;
  }
}
