.blog {
  padding: 80px 8.9%;
}
.blog h1 {
  text-align: center;
  font-size: 48px;
  margin: 10px 0 50px;
}
.blog-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-col {
  flex-basis: 32%;
  border-radius: 8px;
  position: relative;
  margin-bottom: 60px;
}
.img-box {
  overflow: hidden;
  border-radius: 8px;
}
.img-box:hover img {
  transform: scale(1.5);
}
.blog-col .img-box img {
  width: 100%;
  transition: 0.7s ease-out;
}

.blog-news {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -35px;
  background: #fff;
  z-index: 2;
  font-size: 18px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}
.blog-news .date {
  padding: 16px;
  background: var(--primary);
}
.blog-news .date p {
  color: #000 !important;
}
.blog-news .topic {
  padding: 16px;
  flex: 1;
  cursor: pointer;
  color: #000;
}
.blog-news .topic:hover {
  color: var(--primary);
}
@media (max-width: 990px) {
  .blog h1 {
    font-size: 40px;
  }
  .blog-col {
    flex-basis: 48%;
  }

  .blog-news .topic {
    padding: 10px;
  }
}
@media (max-width: 550px) {
  .blog-col {
    flex-basis: 100%;
  }
}
